<mat-card id="card" class="mat-elevation-z8">
    <div [routerLink]="['../list', idProduct]">
    <img id="imgProduct" mat-card-avatar src={{imgProduct}}>
    <mat-card-content>
        <mat-card-title>{{brandProduct}}</mat-card-title>
        {{descriptionProduct}}
        <mat-card-subtitle>Prix : </mat-card-subtitle>
        <mat-card-title>{{priceProduct}} €</mat-card-title>
    </mat-card-content>
    </div>

    <mat-card-footer>
        <button class="button" mat-fab color="accent" aria-label="Add to Order" (click)="addToOrder()">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>