.card{
    width: 35%;
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.header{
    margin: 1em;
    display: flex;
    flex-direction: column;
}
h1 {
  font-size: xx-large;
}
#mainDetail{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
