<div id="mainDetail">
  <div></div>
  <mat-card class="card">
    <img mat-card-lg-image src={{product.image}} alt="photo de {{product.brand}} ">
    <div class="header">
        <mat-card-title><h1>{{product.brand}}</h1></mat-card-title>
        <mat-card-content>
            <p>Description :</p>{{product.description}}
        </mat-card-content>

        <mat-card-title>
            <mat-card-title>Prix :</mat-card-title>
            {{product.price}} €
        </mat-card-title>
    </div>

  </mat-card>
  <div></div>
</div>
