<div id="main">
    <mat-card id="card">
        <mat-card-title>Mon Panier</mat-card-title>
        <mat-list role="list">
            <div *ngFor="let item of orders">
                <mat-list-item role="listitem">
                    <h1>{{item.brand}}</h1>
                    <span></span>
                    <div>
                        <h2>{{item.price}} €</h2>
                    </div>
                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="delete(item.id)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-list-item>
            </div>
        </mat-list>
        <mat-divider></mat-divider>
        <div id="total">
            <h3>TOTAL</h3>
            <span></span>
            <h4>{{this.totalPrice}} €</h4>
        </div>
    </mat-card>
</div>