<div id="main">
    <mat-card id="card" class="mat-elevation-z8">
        <mat-card-header id="header">
            <mat-card-title-group>
                <mat-card-title>Mon Profil</mat-card-title>
                <mat-card-subtitle>Memebre depuis le 01/01/2021</mat-card-subtitle>
            </mat-card-title-group>
            <img mat-card-avatar src="https://imgur.com/I80W1Q0.png" class="mat-elevation-z8">
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>